@import "./variables";
@import "./mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $Cream;
    min-height: 94svh;
}

.preview-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $White;
    border-radius: 10px;
    &__img {
        width: 300px;
        img {
            display: block;
            border-radius: 10px 0 0 10px;
            width: 100%;
        }
    }
    &__product-info {
        padding: 32px;
        width: 300px;
    }
    &__product-category {
        @include typography(montserrat-regular);
        color: $DarkGrayishBlue;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 5px;
    }
    &__product-title {
        @include typography(fraunces-bold);
        color: $VeryDarkBlue;
        margin: 20px 0 0;
    }
    &__product-summary {
        @include typography(montserrat-regular);
        line-height: 23px;
        color: $DarkGrayishBlue;
        margin: 24px 0 0;
    }
    &__product-cost {
        display: flex;
        align-items: center;
        margin: 30px 0 0;
        &-new {
            @include typography(fraunces-bold);
            color: $DarkCyan;
        }
        &-old {
            @include typography(montserrat-regular);
            color: $DarkGrayishBlue;
            font-size: 13px;
            line-height: 23px;
            text-decoration: line-through;
            margin: 0 0 0 20px
        }
    }
    &__cart-btn {
        @include typography(montserrat-bold);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $DarkCyan;
        border: none;
        border-radius: 8px;
        color: $White;
        margin: 30px 0 0;
        height: 48px;
        width: 236px;
        &:hover {
            background-color: $DarkCyanHover;
            cursor: pointer;
        }
        img {
            margin: 0 12px 0 0;
        }
    }
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: $Cream;
    min-height: 6svh;
}

@import "./mediaQuery";