@use 'colors';
@use 'typography';
@use 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: typography.$paragraph-size;
}

main {
    @include mixins.flex(flex, column, center, center);
    background-color: colors.$cream;
    min-height: 94vh;
}

.card-component {
    @include mixins.flex(flex, row, center, center);
    max-height: 450px;
    max-width: 600px;
    background-color: colors.$white;
    border-radius: 10px;
    margin: 10px;
    &__card-image-container {
        width: 50%;
    }
    &__card-summary {
        padding: 30px;
        height: 100%;
        width: 50%;
        p {
            margin: 16px 0;
        }
    }
}

.card-image-container__card-image {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
}

.card-summary {
    &__item-type {
        color: colors.$dark_grayish_blue;
        font-family: typography.$montserrat;
        font-size: 10px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    &__item-title {
        font-family: typography.$fraunces;
        font-size: 32px;
    }
    &__item-summary {
        color: colors.$dark_grayish_blue;
        font-family: typography.$montserrat;
    }
    &__item-cost {
        @include mixins.flex(flex, row, none, center);
        :first-child {
            color: colors.$dark_cyan;
            font-family: typography.$fraunces;
            font-size: 28px;
            margin-right: 20px;
        }
        :last-child {
            color: colors.$dark_grayish_blue;
            font-family: typography.$montserrat;
            text-decoration: line-through;
        }
    }
    &__add-btn {
        @include mixins.flex(flex, row, center, center);
        background-color: colors.$dark_cyan;
        border-radius: 10px;
        border-color: colors.$dark_cyan;
        color: colors.$white;
        font-family: typography.$montserrat;
        height: 48px;
        width: 100%;
        :first-child {
            padding-right: 10px;
        }
        &:hover {
            background-color: colors.$very_dark_blue;
            border-color: colors.$very_dark_blue;
            cursor: pointer;
        }
    }
}

.footer {
    @include mixins.flex(flex, column, center, center);
    min-height: 6vh;
}

@media screen and (max-width: 602px) {
    .card-component {
        @include mixins.flex(flex, column, center, center);
        max-height: fit-content;
        max-width: 340px;
        &__card-image-container{
            height: 240px;
            width: 100%;
        }
        &__card-summary {
            padding: 0 25px;
            height: 370px;
            width: 100%;
        }
    }

    .card-image-container__card-image {
        border-radius: 10px 10px 0 0px;
        object-fit: cover;
    }
}